body {
    color: #666666;
    background-color: #1b1a1a;
    font-family: 'Noto Sans';
    line-height: 1.4em;
    margin: 0;

}

div.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 1px solid #1b1a1a;
    background-color: #1b1a1a;
}

header {
  height: 160px;
  background-image: url('../images/header.jpg');
}

h1 {
  text-indent: -9999px;
  width: 940px;
  height: 130px;
  margin: 0px;
}

nav {
    clear: both;
    color: #ffffff;
    background-color: #1b1a1a;
    border: 1px solid #ffffff;
    height: 30px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #ffffff;
}

nav li a:hover, nav li a.current {
  color: #000000;
}

a {
  color: #de6581;
  text-decoration: none;
}

h1, h2 h3 {
  font-weight: normal;
}
