body {
    background-color: #000000;
    color: white;
}

div.wrapper {
  margin: 0 auto;
  width: 50%;
}

div.header {
  text-align: center;
  font-size: 15px;
  color: white;
}

small {
  color: #7f7f7f;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #ccc;
}
